$bg: rgb(29,36,47);
$green: #43c78b;
$pink: #F47FFF;

.App {
    font-family: consolas;
    overflow: hidden;
    div {
        font-size: 1.1em;
    }
}
.title {
    width: 100vw;
    height: 50vh;
    font-size: 5vh;
    margin-top: 10vh;
    text-align: center;
    .logo {
        height: 35vh;
        margin: 1em 0;
        filter: drop-shadow(0px 0px 75px #000000);
    }
}
.info-wrap {
    margin-bottom: 15vh;
    h1 {
        text-align: center;
    }
    .about-wrap {
        color: lighten($bg, 65%);
        text-align: center;
    }
    .button-wrap {
        display: flex;
        width: fit-content;
        margin: 4vh auto;
        margin-bottom: 35vh;
        h1 {
            margin: 0 0.5em;
            width: fit-content;
            padding: 0.5em;
            transition: 0.3s;
            border-radius: 10px;
            a {
                margin: 1em;
                color: white;
                transition: 0.3s;
                text-decoration: none;
            }
            &:hover {
                top: -5px;
                position: relative;
                background-color: white;
                box-shadow: 0 25px 25px rgba(0, 0, 0, 0.5);
                a {
                    color: $bg;
                }
            }
        }
        .invite {
            background-color: $green;
        }
        .sponsor {
            background-color: $pink;
        }
    }
    .discord-wrap {
        iframe {
            display: block;
            margin: 0 auto;
            width: 20vw;
        }
    }
}

@media (max-width: 1920px) and (min-width: 1000px) {
    .info-wrap {
        .discord-wrap {
            iframe {
                width: 50vw;
            }
        }
    }
}

@media (max-width: 1000px) {
    .info-wrap {
        .discord-wrap {
            iframe {
                width: 80vw;
            }
        }
    }
}
