::-webkit-scrollbar {
    display: none;
}
html {
    background: rgb(29,36,47);
    background: linear-gradient(180deg, rgba(29,36,47,1) 0%, rgba(11,14,18,1) 100%)
}
body {
    color: white;
    margin: 0;
}
