$bg: rgb(29,36,47);
$green: #42b883;

.App {
    font-family: consolas;
    overflow: hidden;
    div {
        font-size: 1.1em;
    }
}
.title {
    font-size: 5vh;
    width: 100vw;
    height: 50vh;
    text-align: center;
    .logo {
        height: 35vh;
        margin: 1em 0;
        filter: drop-shadow(0px 0px 75px #000000);
    }
}
.info-wrap {
    h1 {
        text-align: center;
    }
    .about-wrap {
        color: lighten($bg, 65%);
        text-align: center;
    }
    .invite {
        background-color: $green;
        width: fit-content;
        border-radius: 10px;
        margin: 1em auto;
        padding: 0.5em;
        transition: 0.3s;
        a {
            margin: 1em;
            color: white;
            transition: 0.3s;
            text-decoration: none;
        }
        &:hover {
            background-color: white;
            a {
                color: $bg;
            }
        }
    }
    .discord-wrap {
        iframe {
            display: block;
            margin: 0 auto;
        }
    }
}
