$bg: #151a22;

.App {
    font-family: consolas;
    div {
        font-size: 1.05em;
    }
}
.title {
    font-size: 5vh;
    width: 100vw;
    height: 50vh;
    text-align: center;
    .logo {
        height: 35vh;
        margin: 1em 0;
        filter: drop-shadow(0px 0px 75px #000000);
    }
}
.info-wrap {
    h1 {
        text-align: center;
    }
    .about-wrap {
        color: lighten($bg, 65%);
        text-align: center;
    }
    .discord-wrap {
        iframe {
            display: block;
            margin: 0 auto;
        }
    }
}
