$bg: rgb(29,36,47);

.commands-wrap {
    margin-top: 5vh;
    display: block;
    margin: 0 auto;
    width: fit-content;
    max-width: 50vw;
    line-height: 1.5em;
    code {
        padding: 2px 4px;
        border-radius: 5px;
        background-color: lighten($bg, 5%);
    }
}

@media (max-width: 1000px) {
    .commands-wrap {
        max-width: 80vw;
    }
}
